{% extends 'base.html' %}

{% block css_debug %}
{% endblock %}

{% block base_content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-6">Spectrum</h1>
    <p class="mb-6 text-lg">Spectrum is a tool in development to easily generate ICP profiles for students.</p>
    <div class="flex space-x-4">
        <a href="{% url 'create_icp' %}" class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500">
            Create ICP
        </a>
        <a href="{% url 'list_icps' %}" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            View All ICPs
        </a>
    </div>
</div>
{% endblock %}
